<%#=<% @main.css(".r-ent").each do |m| %>
<%#=       <%= m.at_css(".title > a").text %>
<%#=    <p></p>
<%#=<% end %>   
<% if !$all.nil? %>
    <% $all.each_with_index do |article,i|%>
        <% if i < $originCount %>
            <% next %>
        <% end %>
        <%= link_to article.name, "#{article.href}", target: "_blank" %>
        <hr>
    <% end %>
<% end %>

<script>
    var diff=<%= $diff %>;
    if(diff!=0)
        document.title = "PTT爬爬樂"+"("+diff+")";
</script>